*{
	margin: 0PX;
	padding: 0PX;
}

header{
	background-color: #f1ffcf;
	text-align: center;
}

body{
	background-color: white;
	background-image: url(VASQUES.PNG);
}

footer{
	background-color: #9cd6c8;
	text-align: center;

}

input{
	margin: 2 0 2 0;
}

textarea{
	min-width: 300px;
	min-height: 200px;
	margin: 2 0 0 0;
}

button{
	background-color: greenyellow;
	width: 60px;
	margin: 0 0 0 0;
}

.menu{
	background-color: rgba(11, 130, 186, 0.95);
	text-align: center;
	margin:5 0 5 0;
}

.conteudo{
	background-color: rgba(11, 87, 90, 0.95);
	color: white;
	margin:5 0 5 0;
	padding: 10px;
}

ul{
	list-style-type: none;
	padding: 10px;
	margin-right: 10px;
}

li{
	display: inline;
	padding: 10px 20px;
	text-align: center;
}

a:link{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #f8df82;
}